---
// Strudel REPL Integration Test - using jsDelivr CDN
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strudel REPL Test</title>
  <style>
    * { box-sizing: border-box; margin: 0; padding: 0; }
    html, body { 
      background: #000; 
      color: #fff; 
      height: 100%; 
      overflow: hidden;
    }
    
    #repl-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  </style>
</head>
<body>
  <div id="repl-container"></div>

  <script type="module">
    import { initStrudel } from 'https://cdn.jsdelivr.net/npm/@strudel/web@1.2.6/+esm';
    
    const code = `$: n("<0 4 0 9 7>*16".add("<7 _ _ 6 5 _ _ 6>*2")).scale("g:minor").trans(-12)
  .o(3).s("sawtooth").lpf(sine.range(200, 2000).slow(8))
  .delay(.6).pan(rand)
  .fm(.8).fmwave('white')

$: n("<7 _ _ 6 5 _  <5 3> <6 4>>*2").scale("g:minor").trans(-24)
  .detune(rand)
  .o(4).s("supersaw").lpf(sine.range(400, 2000).slow(8))

$: s("hh*8").gain(0.5)

$: s("bd:2!4")
  .duck("3:4:5:6")
  .duckdepth(.8)
  .duckattack(.16)`;
    
    async function start() {
      try {
        console.log('Initializing Strudel...');
        const repl = await initStrudel();
        console.log('Strudel ready:', Object.keys(repl));
        
        await repl.evaluate(code);
        console.log('Code started!');
      } catch (e) {
        console.error('Error:', e);
      }
    }
    
    start();
  </script>
</body>
</html>
